<mat-toolbar class="footer" [ngClass]="{ 'dark-theme': isDarkTheme, 'light-theme': !isDarkTheme }">
    <div class="info">
        <div class="item">
            <p>Blog on ML, AI & other acronyms. All opinions are my own.</p>
        </div>
        <div class="item">
            <p>&copy; 2025 - Ademar Castro.</p>
        </div>
    </div>
    <div class="icons">
        <a href="https://www.linkedin.com/in/ademar-castro-8bb95b256/" target="_blank">
            <i class="bi bi-linkedin"></i>
        </a>
        <a href="https://github.com/AdemarCastro" target="_blank">
            <i class="bi bi-github"></i>
        </a>
        <a href="https://scholar.google.com/citations?user=ademarcastro" target="_blank">
            <i class="bi bi-mortarboard"></i>
        </a>
    </div>
</mat-toolbar>