@use 'variables' as *;

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 30px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    height: 184px;
    border-top: 1px solid $dark-color;

    .info {
        display: flex;
        justify-content: center;
        width: 100%;

        .item {
            height: 54px;
            width: 540px;
            margin: 0 0 15px 0;
            text-align: center;
        }

        p {
            margin: 22.5px 0;
            font-size: .85rem;
        }
    }

    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        padding: 0 0;
        height: 54px;
        width: 1080px;

        a {
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 44px; 
            height: 44px; 
            border: 1px solid;

            &:hover {
                color: $dark-color;
                border-color: $dark-color;
            }

            &:active {
                color: $dark-color;
                border-color: $dark-color;
            }

            mat-icon {
                font-size: 1.5rem;
                color: $light-color;
            }
        }
    }
}