/* Define color variables */
$primary-color: #121212;
$secondary-color: #828282;
$success-color: #28a745;
$info-color: #17a2b8;
$warning-color: #ffc107;
$danger-color: #dc3545;
$light-color: #f8f9fa;
$dark-color: #343a40;

/* Define font family */
$font-family-base: 'Roboto', 'Helvetica Neue', sans-serif;